@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* father */
.wrapper {
    width: 100%;
    display: flex;
    gap: 94px;
    justify-content: center;
    margin-top: 155px;
}
/* father end */

/* left side */
.left-side {
    display: flex;
    gap: 8px;
    margin-left: 55px;
}
.double-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.little_card {
    width: 84px;
    height: 113px;
    border-radius: 2px;
    background: #f2f4f7;
}
.card {
    width: 416px;
    height: 555px;
    background: #f2f4f7;
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
}
.arrow {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* left side end*/

/* right side */

/* above */
.above {
    display: flex;
    flex-direction: column;
}
.product-heading h2 {
    color: #1f2026;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
}
.seller {
    display: flex;
    margin-top: 8px;
    gap: 94px;
}
.sotuvchi {
    color: #1f2026;
}
.delivery {
    display: flex;
    margin-top: 8px;
    gap: 34px;
}
.ilogo {
    display: flex;
    gap: 10px;
    align-items: center;
}
.about {
    color: #1f2026;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.line {
    margin-top: 25px;
    width: 605.594px;
    height: 1px;
    background: rgba(54, 54, 64, 0.2);
}
/* above end */

/* price */
.price {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 32px;
}
.price-text {
    color: #1f2026;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.price-info {
    display: flex;
    gap: 22px;
}
.price-exact {
    display: flex;
    gap: 21px;
}
.price-purple {
    display: flex;
    gap: 2px;
}
.price-exact-actual {
    color: #1f2026;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.price-exact-nonactual {
    color: #8b8e99;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.exclusive {
    width: 73px;
    height: 21px;
    border-radius: 4px;
    background: #7000ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exclusive p {
    color: #fff;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}
.bigsales {
    width: 93px;
    height: 21px;
    border-radius: 4px;
    background: #5000aa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigsales p {
    color: #fff;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
}
/* price end */
/* right side */
